<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @list.remarks %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @list.complete %>
</p>

<%= link_to 'Edit', edit_list_path(@list), :class => "btn btn-small btn-warning" %>
<%= link_to 'Back', lists_path, :class => "btn btn-small btn-primary" %>
